<div class='container' id='user'>
	<h1 id='whiteText'>Congratulations! <%= @user.name %> <%= @user.surname %></h1>
	<h3 id='whiteText'>If you want to play a game, please <%= link_to 'Sign in', signin_path, method: 'get' %>
  </br>
  </br>
	<%= link_to 'Sign out', signout_path, method: 'delete' %></h3>
</div>

